*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.main_box .sidebar_menu{
    position: fixed;
    height: 100vh;
    width: 280px;
    left: 1500px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}
.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    height: 60px;
    box-shadow: rgba(255, 255, 255, 0.5);
}
.sidebar_menu .logo a{
    color: rgb(250, 247, 245);
    font-family: Pristina;
    font-size: 25px;
    font-weight: 500px;
    position: absolute;
    left: 50px;
    line-height: 60px;
    text-decoration: none;
    padding: 15px 20px;
}
.sidebar_menu .menu{
    position: absolute;
    top: 80px;
    width: 100%;
}
.sidebar_menu .menu li{
    margin-top: 6px;
    padding: 14px 20px;
    transition: all 0.2s linear;
}
.sidebar_menu .menu a{
    color: rgb(2, 252, 189);
    font-size: 20px;
    text-decoration: none;
}
.sidebar_menu .menu li:hover{
    border-left: 1px solid #fff;
    box-shadow: 0 0 4px rgba(2, 252, 189, 0.527);
}
#check{
    display: none;
}
.main_box .btn_one i{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s linear;
}
.sidebar_menu .btn_two i{
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 240px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s linear;
}
.btn_one i:hover{
    font-size: 24px;
}
#check:checked ~.sidebar_menu{
    left: 0px;
}
#check:checked ~.btn_one i{
    opacity: 0;
}
#check:checked ~.sidebar_menu .btn_two i{
    opacity: 1;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.6;
}
.center,.content{
    position: absolute;
    top: 50px;
    left: 50px;
    transform: translate(-50%, -50%)
}
.button{
    background: none;
    border-style: none;
    padding: 1em 2em;
    color: turquoise;
    border: 0;
    font-weight: bolder;
    transform: translate(-0%, -550px);
}
.button:hover{
    background: rgb(54, 112, 107);
}
.wrapper{
    width: 1100;
    margin: 0 auto;
}
.banner{
    background: url(./pics/tkuy.jpg)no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
    color: rgba(12, 12, 12, 0.884);
    overflow: hidden;
    background-size: cover;
    background-position: center center;

}
.allsongs-area{
    height: 100vh;
}
.text-content h2{
    text-transform: uppercase;
    text-align: left;
    padding: 15% 25%;
    font-size: 30px;
    margin-left: 70px;
    color: rgb(253, 251, 251);
    text-shadow: 0 5px 10px #000;
}
.list-songs{
    padding: 10% 10%;

}

table{
    width: 100px;
    background-color: rgba(255, 99, 71, 0.582);
    padding-right: 15px;
    text-align: right;
    position: absolute;
    top: 250px;
    right: 5px;
    color: white;
    font-size: 25px;
    margin: 10px 20px;
}
th, caption{
    text-align: left;
}
table, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
.search{
    width: 200px;
    padding: 5px 8px;
}
.search-btn{
    height: 30px;
    width: 120px;
    background: rgba(167, 59, 59, 0.596);
    color: rgba(255, 255, 255, 0.493);
    border-radius: 5px;
    object-position: top;
    position: relative;
    
}
.search-btn:hover{
    background: rgba(136, 65, 65, 0.61);
    color: rgb(255, 253, 253);
    cursor: pointer;
}
.form-box{
    background: rgba(97, 89, 89, 0.486);
    padding: 3px 3px;
    position: absolute;
    transform: translate(-0px, -600px);
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin: 15px 350px;
    box-shadow: 0 5px 8px 0 rgba(174, 248, 221, 0.527), 
    0 7px 20px 0 rgba(174, 248, 221, 0.274);
    
}
.main{
    position: relative;
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: right;
    display: inline-block;
    margin: 5px 550px;
    transform: translate(-50px, -27px);
    top: 100%;
    left: 20%;
}
.main button{
    padding: 10px 30px;
    margin: 20px 20px;
    transform: translate(-100px, -60px);
    box-shadow: rgba(0, 0, 0, 0.568);
}
.right, .left{
    position: relative;
    height: 300%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translate(-10px, -100px);
    background: rgba(220, 20, 60, 0.548);
    border: none;
    
}
.main .duration{
    margin: 1px 10px 0 0;
    padding: 50px 10px;
    top: 100%;
    width: 100%;
    height: 30px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(83, 36, 27);
    cursor: pointer;
    transform: translate(-700px, -160px);
    
}
.duration{
    -webkit-appearance: none;
    width: 100%;
}
.middle{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle button{
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
    background: #353434a6;
    transform: translate(-480px, -70px);
    color: rgb(252, 228, 237);
}
#play{
    background: rgb(88, 57, 63);
}
.play button:hover{
    background: rgb(153, 89, 102);
}
.modal{
    position: fixed;
    left: 0;
    bottom: 2px;
    background: rgba(85, 83, 83, 0.486);
    z-index: 1;
    display: none;
    right: 10px;
    top: 0;
    height: 110%;
    width: 100%;
    overflow: auto;
    background-color: rgba(91, 116, 107, 0.274);
}
.modal-open2{
    padding: 5px 5px;
    background: rgba(255, 255, 255, 0.301);
    color: turquoise;
    border-radius: 4px;
    outline: none;
    border: none;
    transform: translate(-100%px, -100%px);
    position: absolute;
    top: 30%;
    bottom: 90%;
    margin: none;
    right: 100px;
    height: 45px;
    width: 140px;
    font-weight: bold;
    margin-left: 10px;

}
.modal-open2:hover{
    color: rgb(195, 252, 247);
    background: rgba(157, 231, 224, 0.562);
}
.modal-open1{
    padding: 5px 5px;
    background: rgba(255, 255, 255, 0.301);
    color: turquoise;
    border-radius: 4px;
    outline: none;
    border: none;
    transform: translate(-100%px, -100%px);
    position: absolute;
    top: 30%;
    bottom: 90%;
    margin: none;
    right: 250px;
    height: 45px;
    width: 140px;
    font-weight: bold;
    margin-left: 10px;
}
.modal-open1:hover{
    color: rgb(195, 252, 247);
    background: rgba(157, 231, 224, 0.562);
}

.modal-content{

    background-color: rgba(54, 34, 34, 0.993);
    margin: 20% auto;
    width: 47.3%;
    top: 10px;
    bottom: auto;
    box-shadow: 0 5px 8px 0 rgba(174, 248, 221, 0.527), 0 7px 20px 0 rgba(174, 248, 221, 0.274);
    animation-name: modalopen;
    animation-duration: 2s;
    border-radius: 5px;
}
.modal-header{
    font-weight: 500;
    padding: 3px 5px;
    font-size: 20px;
    color: #fff;
    background: rgba(124, 114, 114, 0.781);
    border: 10px solid #5c4b4ecb;
    width: 630px;
    left: 20px;
    text-align: left;
    transform: translate(-80%px -50%px);
    display: absolute;
}
.modal-header .modal-close{
    float: right;
    font-size: 35px;
    background: none;
    border: 0;
    top: 15px;
    bottom: 10px;
    outline: 0;
    padding: -15px 5px;
    border-radius: 20%;
    color: rgb(248, 246, 246);
    margin-bottom: 3px;
    
}
.modal-header .modal-close:hover, .modal-header .modal-close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
@keyframes modalopen{
    from{opacity: 0}
    to {opacity: 2}
}
.modal-body{
    color: rgba(253, 250, 250, 0.993);
    padding: 10px 10px;
    font-size: 15px;
    text-align: center;
    top: 10px;
    left: 60px;
    background: rgba(102, 95, 91, 0.685);
    line-height: 50px;
    border-radius: 10px;
    width: 500px;
    position: relative;
}
.modal-footer{
    padding: -20px -10px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.modal-footer .modal-upload{

    position: relative;
    bottom: 5px;
    top: 23px;
    left: 445px;
    border: 1px solid;
    border-radius: 3px;
    color: rgb(248, 240, 240);
    background: rgba(169, 169, 169, 0.849);
    padding: 5px 8px;
    font-size: 18px;
    font-weight: lighter;
    cursor: pointer;
}
.modal-footer .modal-upload:hover{
    background: rgba(245, 245, 245, 0.842);
    color: rgb(70, 48, 44);
    transition: .3s;
}
.modal-footer .modal-cancel{
    position: relative;
    bottom: 10px;
    left: 530px;
    top: 3px 3px;
    border: 1px solid;
    border-radius: 3px;
    color: rgba(248, 240, 240, 0.712);
    background: rgba(169, 169, 169, 0.849);
    padding: 5px 10px;
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
    transform-box: translate(-80px, -80px);
}
.modal-footer .modal-cancel:hover{
    background: rgba(245, 245, 245, 0.842);
    color: rgb(70, 48, 44);
    transition: .3s;
}
