@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home{
    background: url(./pictures/PicsArt_10-07-07.38.31.jpg)no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
    color: rgba(12, 12, 12, 0.884);
}
body{
    font-family: 'Open Sans', sans-serif;
    background: #ebceae;
}
nav{
    background: darkred;
    padding: 10px 30px;
}
ul{
    list-style-type: none;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.navbar li{
    font-size: 16px;
    padding: 0px 20px;
}
.navbar li a{
    display: block;
}
.logo a{
    font-size: 100px;
}
.button.secondary{
    border-bottom: 1px rgb(237, 149, 149) solid;
}

/*Mobile Menu*/
.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.toggle{
    order:1;
}
.item.button{
    order:2;
}
.item{
    width: 100%;
    text-align: center;
    order: 3;
    display: none; 
}
.item.active{
    display: block;
}
.toggle{
    cursor: pointer;
}
.bars{
    background: rgb(184, 172, 170);
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;
}
.bars::before,.bars::after{
    background: rgb(184, 172, 170);
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;
}
.bars::before{
    top:5px;
}
.bars::after{
    top:-5px; 
}
/* Tablet Menu */
@media all and (min-width:468px){
    .menu{
        justify-content: center;
    }
    .logo{
        flex: 100;
    }
.item.button{
    width: auto;
    order: 1;
    display: block;
}
.toggle{
    order: 2;
}
.button.secondary{
    border-radius: 5em;
}
.button a{
    text-decoration: none;
    padding: 4px 10px;
    background: rgb(245, 182, 159);
    border: rgb(201, 117, 90);
    border-radius: 10em;
}
.button.secondary a{
    text-decoration: none;
    background: transparent;
}
.button a:hover{
    transition:all .25s;
}
.button:not(.secondary) a:hover{
    background: #f8ddd1; 
    border-color: #58341b;
}
button.secondary a:hover{
    color: #ddd;
}
@media all and (min-width: 768px){
    .item{
    display: block;
    width: auto;
}
.toggle{
    display: none;
}
.logo{
    order: 0;
}
.item{
    order: 1;
}
.button{
    order: 2;
}
.navbar li{
    padding: 5px 10x;
}
.navbar li.button{
    padding-right: 2;
}
.home h1{
    font-size: 2.5em;
    font-weight: bold;
}
.home p{
    font: italic;
    font-weight: bold;
    font-size: 1.0em;
}
.home .btn1{
    height: 45px;
    width: 140px;
    background-color:transparent;
    border:2px solid rgb(245, 168, 114);
    color: black;
    outline: none;
    font-weight: bold;
    margin-left: 10px;
}
.btn1:hover{
    background-color:rgb(129, 81, 59);
    color: rgb(250, 208, 131);
    border: none;
}
    .books img{
        display: inline-block;
        border-left: 1px solid white;
        margin-bottom: 15px;
    }
    .books p,a{
        color: rgb(117, 100, 100);
    }
    .books a{
        color:rgba(12, 12, 12, 0.884);
    }
    .books small{
        font-weight: bold;
        color: rgb(117, 241, 250);
        margin-bottom: 20px;
    }
    .books .btn1{
        height: 40px;
        width: 140px;
        background: transparent;
        color: rgb(128, 106, 103);
        outline: none;
        border: 2px solid rgb(158, 103, 96);
        margin-left: 10px;
        display: inline-block;
    }
    .books .btn1:hover{
        background: rgb(128, 106, 103);
        border: none;
        color: wheat;
    }
    .btn{
        background-color: rgb(216, 201, 198);
        color: rgb(8, 8, 8);
        line-height: 2;
        font-weight: bold;
}
.topics p{
    color: rgb(15, 15, 15);
}
.topics img{
    width: 285px;
    height: 200px;
    display: inline-block;
    border-left: 1px solid white;
    transition: transform 1s, filter 1s ease-in-out;
}
.topics img:hover{
    transform: scale(0.9);
}
.author .p1{
    font-size: 1.3em;
    color: grey;
}
.collection img{
    width: 285px;
    height: 200px;
    display: inline-block;
    border-left: 1px solid white;
    transition: transform 2s, filter 2s ease-in-out;
}
.collection img:hover{
    transform: scale(0.9);
}
.collection p{
    color: grey;
}
.letter{
    background-color: black;
    color: white;
    text-align: center;
}
.letter input{
    height: 45px;
    width: 43%;
    background:rgb(63, 61, 61);
    border: none;
    color: grey;
}
.letter .fab{
    font-size: 30px;
    color: white;
    padding: 0 20px;
}
footer{
    color: dimgray;
    background: rgb(48, 53, 53);
}

}

}